.flexbox{
    background-color: cornflowerblue;
    font-size: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap-reverse;
    flex-wrap: wrap row;
    justify-content: flex-start;
    justify-content: end;
    justify-content: space-between;
    justify-content: center;
    height: 400px;
    align-items: flex-start;
    align-items: flex-end;
}
.flexbox> div{
    background-color: cadetblue;
    margin: 15px;
    padding: 5px 20px;
    width: 100px;
}
.flexbox > div:nth-child(4){
    order: 1;
}