.tutul{
    width: 400px;
    height: 400px;
    background-color: chartreuse;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 30px;
    margin-left: 40px;
}