h1{
    margin: 60px;
    color: blue;
    background-color: blueviolet;
    text-align: center;
}
p{
    margin: 80px;
    color: orange;
    background-color: black;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    text-transform: lowercase;
    text-transform: capitalize;
    text-indent: 40px;
    letter-spacing: 3px;
    word-spacing: 20px;
    line-height: 40px;
}